.code {
    counter-reset: line;
    line-height: 2rem;
}

.line::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: grey;
}

.code a {
    color: var(--string-color);
    text-decoration: none;
}

.code a:hover {
    text-decoration: underline;
}

.className {
    color: var(--object-color);
}

.property {
    color: var(--json-key-color);
}

@media screen and (max-width: 600px) {
    .code {
        font-size: 0.85rem;
        line-height: 1.5rem;
    }
}
