.container {
    counter-reset: line;
    line-height: 2rem;
}

.line::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: grey;
}

.attribute {
    padding-left: 10.1em;
    text-indent: -10.1em;
}

.btns {
    position: fixed;
    top: 85px;
    right: 20px;
}

.btns a {
    margin: 0 10px 0 0;
    padding: 10px;
    background-color: var(--titlebar-bg);
    color: var(--text-color);
    outline: none;
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

.btns a:hover {
    outline: 1px solid black;
    cursor: pointer;
}

.key {
    color: var(--json-key-color);
    padding-left: 30px;
}