.tabs {
    display: flex;
    background: var(--tabs-bg);
    overflow-x: auto;
}

.tabs::-webkit-scrollbar {
    height: 0;
}

@media screen and (max-width: 1050px) {
    .tabs {
        width: 95vw;
    }
}

@media screen and (max-width: 900px) {
    .tabs {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    .tabs {
        width: 100vw;
    }
}
